<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.dao.DailyDao">
    <select id="getDaily" resultType="com.xin.model.Daily" parameterType="String">
    select * from jianwangsan.daily where server = #{server} order by time desc limit ${1};
    </select>

    <insert id="insertDaily" parameterType="com.xin.model.Daily">
        insert into jianwangsan.daily (time, weekday, dailySecretPlace, warPlace, publicTask, Beauty, wulinPublicTask, wulinSercretPlace, wulinGroupSecretPlace, server)
        values (#{time}, #{weekday}, #{dailySecretPlace}, #{warPlace}, #{publicTask}, #{Beauty}, #{wulinPublicTask}, #{wulinSercretPlace}, #{wulinGroupSecretPlace}, #{server})
    </insert>
</mapper>